/* Container layout */
.container {
    margin: 0 auto;
    width: 1200px;
}

.container a {
    text-decoration: none;
}


/* NAVBAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.849);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    width: calc(100% / 3);
}

.logo-img {
    width: 340px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.home {
    color: rgb(237, 207, 107);
    font-size: 20px;
}

.nav-links {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .fa-solid {
    color: rgb(237, 207, 107);
    font-size: 22px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 40px;
}


/* WHISKY CARD */

.whisky-page .cards-container.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #edcf6bad;
    padding: 20px;
}

.whisky-page .cards-container.grid .whisky-card {
    width: calc((100% / 3) - 20px);
}

.whisky-img {
    width: 100%;
}

.whisky-card *,
.full-price-no-discount {
    color: white;
}

.full-price {
    text-decoration: line-through;
    color: black;
    font-size: 0.9rem;
    margin-right: 10px;
}

.cart-btn {
    padding: 5px;
    background-color: rgb(45, 45, 45);
    color: white;
    cursor: pointer;
}

.whisky-page {
    text-align: center;
    margin: 40px auto;
}

.whisky-page h1 {
    color: #eec461;
    margin-bottom: 30px;
}

.categories-filter {
    margin: 10px 0;
}

/* TOGGLE VISUALIZZAZIONE CARD */

.view-toggle {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.view-toggle * {
    margin: 5px;
    cursor: pointer;
}

/* VISUALIZZAZIONE IN LISTA */

.whisky-page .cards-container.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #edcf6bad;
    padding: 20px;
}

.whisky-page .cards-container.list .whisky-card {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 25%;
}

.whisky-page .cards-container.list .whisky-img-wrapper {
    width: 300px;
}

.whisky-page .cards-container.list .whisky-img {
    width: 100%;
}



/* WHISKY DETAIL CARD */

.whisky-detail-card {
    display: flex;
    color: white;
    gap: 40px;
    justify-content: center;
    margin: 100px 0;
    background-color: #edcf6bad;
    padding: 50px;
}

.detail-img-wrapper {
    width: 400px;
}

.detail-img {
    width: 100%;
}

.detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.back-btn {
    display: block;
    margin: 0 auto 100px;
    background-color: #edcf6bad;
    padding: 10px;
}

/* CUORE AGGIUNGI AI PREFERITI */

.whisky-img-wrapper,
.detail-img-wrapper {
    position: relative;
}

.whisky-img-wrapper i,
.detail-img-wrapper i {
    position: absolute;
    color: rgba(0, 0, 0, 0.29);
    font-size: 32px;
    left: 85%;
    top: 8%;
    cursor: pointer;
}

.whisky-img-wrapper i.favorited,
.detail-img-wrapper i.favorited {
    color: red;
    cursor: pointer;
}


/* FOOTER */

footer {
    height: 200px;
    background-color: rgba(255, 255, 255, 0.321);
}