/* Container layout */
.container {
    margin: 0 auto;
    width: 1200px;
}

/* NAVBAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.499);
    position: relative;
}

.logo {
    width: calc(100% / 3);
}

.logo-img {
    width: 340px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.home {
    color: rgb(237, 207, 107);
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav-links * {
    text-decoration: none;
}

.fa-solid {
    color: rgb(237, 207, 107);
    font-size: 22px;
}

form * {
    color: rgb(237, 207, 107);
    font-size: 22px;
}

.search-form input {
    width: 100px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 40px;
}