/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sfondo globale */
body {
    background-image: url("../public/imgs/bg-legno-scuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}