.hero-card {
    width: 100%;
    height: 80vh;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 1;
}

.hero-overlay {
    position: relative;
    z-index: 2;
    padding-top: 50px;
    height: 100%;
    color: #eec461;
    font-size: 3.5rem;
    text-align: center;
    text-shadow:
        0 0 10px rgba(197, 160, 89, 0.7),
        0 0 20px rgba(197, 160, 89, 0.4),
        0 0 30px rgba(0, 0, 0, 0.8);

}

.hero-btn {
    background-color: transparent;
    border: none;
    color: #eec461;
    text-shadow:
        0 0 10px rgba(197, 160, 89, 0.7),
        0 0 20px rgba(197, 160, 89, 0.4),
        0 0 30px rgba(0, 0, 0, 0.8);
    font-size: 1.8rem;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: transparent;
    border: 1px solid #eec461;
    color: #eec461;
    padding: 12px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover {
    background: #eec461;
    color: #000;
}

/*ON SALE SECTION  */
.on-sale-section {
    width: 100%;
    min-height: 70vh;
    margin-bottom: 90px;
}

.on-sale-title,
.new-title {
    font-size: 2.5rem;
    color: #eec461;
    text-align: center;
    margin: 20px 0;
}

.new-products .cards-container,
.on-sale-section .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #edcf6bad;
    padding: 20px;
}

.new-products .whisky-card,
.on-sale-section .whisky-card {
    width: calc((100% / 4) - 20px);
}

.whisky-img {

    margin-top: 20px;
    transition: 0.75s;
}

.whisky-img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.whisky-link {
    text-decoration: none;
}

.whisky-price {
    margin: 20px 0;
}


/* NOT FOUND PAGE */
.not-found-container {
    color: #eec461;
    margin: 0, auto;
    text-align: center;
}

.not-found-container h1 {
    font-size: 5rem;
}

.not-found-container h2 {
    font-size: 3rem;
}

.not-found-container p {
    font-size: 2rem;
}

.notf-btn {
    background-color: #eec461;
    padding: 10px;
    margin: 20px;
    font-size: 20px;


}


/* WISHLIST STYLE */
.wishlist-header, .empty-state {
    color: #eec461;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}
.wishlist-card{


}
.wishlist-img{
    max-width: 400px;
}
.wishlist-details{
    color: #eec461;
    font-size: 1rem;
}

.cart-button, .remove-button{
    margin: 20px;
    padding: 20px;
    font-size: 1rem;
    background-color: #eec461;
    cursor: pointer;
}
.btn-explore{
     margin: 20px;
    padding: 20px;
    font-size: 1rem;
    background-color: #eec461;
    cursor: pointer;
}